.head {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  height: 200px;
  background: asset-url("pen.jpg") fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  position: relative;
  }

.stylesearch {

  padding-bottom: 20px;
  color: black;
  font-size: 18px;
  border-bottom: 1px solid green;
}


