.head {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  height: 150px;
  background-color: #EE5F5B;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  position: relative;
  }

.stylesearch {

  padding-bottom: 20px;
  color: black;
  border-bottom: 1px solid green;
}


.h1-community {
  color: white;
  font-size: 40px;

}
.h2-community {
  color: white;
  font-size: 20px;

}

