.head {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  height: 400px;
  width: auto;
  background: asset-url("bgbg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  }

.stylesearch {

  padding-bottom: 20px;
  color: black;
  font-size: 18px;
  border-bottom: 1px solid green;
}

.text {
  color: rgb(50,50,50);
  font-size: 20px;
  position:absolute;
  left: 639px;
  bottom: 12px;
  border: 1px solid #EE5F5B;
  background-color: #EE5F5B;
  border-radius:3px;
  padding: 10px;



}
