
#profile-edit {
  width: 100%;
  img {
    width: 80px;
    margin: auto;
    position: absolute;
    left: 236px;
    top: -42px;
    border: 1px solid white;
  }
  table {
    box-shadow: 1px 1px 3px #E0DCDC;
    margin: auto;
  }
  tr {
    background: white;
    border-bottom: 1px solid $gray-lighter;
    color: #E28383;
    td {

      padding-bottom: 20px;
  padding-top: 15px;
  padding-right: 33px;
  padding-left: 42px;
    }
  }
}


@media (max-width: $screen-sm) {
  #profile table {
    margin-top: 20px;
  }
}

.swagbtn {
  width: 100%;
}

.bg {
  background-color:#F4F4F4;
}
