#banner {
  background-image: asset-url('home.jpg');
  padding-top: 400px;
  padding-bottom: 400px;
  background-size: cover;


}
#featured {
  background-color: $gray-lighter;
  padding-top: 70px;
  padding-bottom: 70px;
}
.number {
  font-size: 40px;
  color: $green
}


#userstories {
  background: asset-url("featuredbg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $gray-lighter;
  padding: 50px;

}

.size-featured {
  width: 60px;
  height: auto;
  margin-bottom: 40px;
}

#big_title {
  position:absolute;
  right:0px;
  left:0px;
  top: 199px  ;
  color: white;
}

.text-featured {
  font-size: 12px;
  color: $gray-darker;
}

.talk {
  width: 400px;
  height: 400px;
  background-color: rgba(240,240,240,0.4);
  margin-bottom: 10px;
  border-radius: 3px;
  border-color: $gray-darker;
  color: black;
  padding: 20px;
  font-size: 15px;
  font-weight: 300;
  position: relative;
}

#title-talk {
   margin-bottom :100px;
   color: $gray-darker;
}


.img-style{
  border-radius: 3px;
  border-color: $gray-darker;
}

.postion {
  position: absolute;
  top: 209px;
  left: 175px;
  }
.icn {
  width: 50px;
  height: auto;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: $gray-darker;


}

.lign {
  margin-bottom: 100px;
}
