#banner {
  background-image: asset-url('home.jpg');
 padding: 270px;
  background-size: cover;


}
#featured {
  background-color: $gray-lighter;
  padding-top: 30px;
  padding-bottom: 30px;
}
.number {
  font-size: 40px;
  color: $green
}


#userstories {
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $gray-lighter;
  padding: 50px;

}

.size-featured {
  width: 60px;
  height: auto;
  margin-bottom: 40px;
}

#big_title {
  position:absolute;
  right:0px;
  left:0px;
  top: 199px  ;
  color: white;
}

.text-featured {
  font-size: 12px;
  color: $gray-darker;
}

.talk {
  width: 400px;
  height: 400px;
  background-color: rgba(240,240,240,0.4);
  margin-bottom: 10px;
  border-radius: 3px;
  border-color: $gray-darker;
  color: black;
  padding: 20px;
  font-size: 15px;
  font-weight: 300;
  position: relative;
}

#title-talk {
   margin-bottom :100px;
   color: $gray-darker;
}


.img-style{
  border-radius: 50%;
  width: 50%;
}

.postion {
  position: absolute;
  top: 209px;
  left: 175px;
  }
.icn {
  width: 50px;
  height: auto;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: $gray-darker;


}

.lign {
  margin-bottom: 100px;
}

#position-home-form {
  position: absolute;
  bottom: 100px;
  left: 100px;
}

#size-picture-explaination {
  height: 100px;
  width: 100px;
}

.card-home-presentation {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.size_img-home {
  width: 100%
}

.padd-img {
  margin-left: 50px;
  margin-bottom: 34px;
  img {
    border-radius: 2px;
    height: 170px;

  }
}
.title-card-feat {
  position: absolute;
  left: 259px;
  bottom: 270px;
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px rgb(100,100,100);
}

.god {
  position: relative;
}

.img-right-feat {
  margin-left: 20px;
  height: 100%;
}

.title-card-feat-lille {
  position: absolute;
  left: 22px;
  bottom: 223px;
  color: white;
  font-size: 40px;
  text-shadow: 1px 1px rgb(100,100,100);

}
