.photo {
  height: 130px;
  width: 150px;
}
.little_card {
  text-align: center;
  width: 230px;
  height: 390px;
  background-color: rgba(250,250,250,0.0);
  margin-bottom: 10px;
  border-radius: 3px;
  border: solid 1px rgb(220,220,220);
  font-size: 15px;
  font-weight: 300;
  margin-top:50px;
}

.godless {
  position:absolute;
  border: solid 1px rgb(220,220,220);
  background-color: white;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 204px;
  font-size: 18px;
  padding-top: 15px;
  color: rgb(20,20,20);
  font-size: 12px;

}

.sidebar {
position: fixed;
top: 0;
bottom: 0;
z-index:-1;
}

.img-index {
  width: 60px;
  height: 60px;
  position: absolute;
  top: -42px;
  right: 84px;
}

.position-date {

  width: 230px;
  height: auto;

  border-bottom: solid 1px rgb(220,220,220);
  border-top: solid 1px rgb(220,220,220);



}
