.img-offer {
height: 60px;
width: 60px;
position: absolute;
top: 9px;
right: 20px;
}

.img-recipes {
height: 120px;
width: 120px;
}

.card-recipes {
  border-radius: 3px;
  background-color: rgb(248,248,248);
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 30px;
  padding-bottom: 120px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.card-title {
  border-bottom: 1px solid grey;
  border-radius: 3px;
  background-color: rgb(248,248,248);
  padding-top: 30px;
  padding-bottom: 5px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.relative {
  position: relative;
}

.img-popover {
  height: 100px;
  width: 100px;
}

.position-text {
  position: absolute;
  top: 20px;
  left: 57px;

}


.img-user-position {
  position: absolute;
  top: 124px;
  left: 572px;
  height: 70px;
  width: 70px;
  border: 1px solid grey;
}


