.img-offer {
height: 60px;
width: 60px;
position: absolute;
top: 9px;
right: 20px;
}

.img-recipes {
height: 130px;
width: 170px;
position: absolute;
top: 0px;
left:0px;
}

.card-recipes {
  border-radius: 3px;
  background-color: rgb(248,248,248);
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 30px;
  padding-bottom: 120px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.card-title {
  border-bottom: 1px solid grey;
  border-radius: 3px;
  background-color: rgb(248,248,248);
  padding-top: 30px;
  padding-bottom: 5px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.relative {
  position: relative;
}

.img-popover {
  height: 100px;
  width: 100px;
}

.position-text {
  position: absolute;
  top: 20px;
  left: 2px;

}


.img-user-position {
  position: absolute;
  top: 124px;
  left: 572px;
  height: 70px;
  width: 70px;
  border: 1px solid grey;
}

.card-recipes-index {
  width: 170px;
  height: 250px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 3px;
  border: solid 1px rgb(220,220,220);
  color: black;
  padding: 20px;
  padding-right: 20px;
  font-size: 15px;
  font-weight: 300;
}

.text-recipes{
  position: absolute;
  bottom: 109px;
  left: 0px;
  width: 170px;
    border-bottom: 1px solid grey;
}

.button-show-recipe-position {
position: absolute;
  bottom: 69px;
  left: 32px;
}

.create-offer-position{
  position: absolute;
  bottom: 14px;
  left: 54px;
}

.price-position{
  position: relative;
  color: white;
  width:60px;
  height:60px;
  background-color: rgb(60, 129, 60) ;
  border-radius: 50px;
}

.price-position2{
  font-size: 20px;
  position: absolute;
  top: 15px;
  right: 14px;
}

.img-pos-bg {
  position: absolute;
  top: 70px;
  right: 20px;
  height: 100px;
  width: 100px;
}
