
#recipe-new{
  background-color:#F4F4F4;
  width: 100%;

  table {
    box-shadow: 1px 1px 3px #E0DCDC;
    margin: auto;
  }
  tr {
    background: white;
    border-bottom: 1px solid $gray-lighter;
    color: #E74646;
    td {
      padding: 25px;
      &:last-child {
        width: 300px;
        text-align: left;
      }
      i {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: $screen-sm) {
  #profile table {
    margin-top: 20px;
  }
}

.swagbtn {
  width: 100%;
}

.swag-pad {
  padding-top:86px;
  padding-bottom:20px;
  position: relative;
  background-color: #F4F4F4;
}



