
#recipe-new{
  background-color:#F4F4F4;
  width: 100%;

  table {
    box-shadow: 1px 1px 3px #E0DCDC;
    margin: auto;
  }
  tr {
    background: white;
    border-bottom: 1px solid $gray-lighter;
    td {
      padding: 25px;
      &:last-child {
        width: 300px;
        text-align: left;
      }
      i {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: $screen-sm) {
  #profile table {
    margin-top: 20px;
  }
}

.swagbtn {
  width: 100%;
}

.swag-pad {
  padding-top:20px;
  padding-bottom:20px;
  position: relative;
  background-color: #F4F4F4;
}

.swaggydog {
  width: 582px;
  height: 995px;
  border-radius: 3px;
  position: absolute;
  left: -12px;
  top: 0px;

}
