.card-commande {
  height: 400px;
  width: 1150px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 4px;
  border: solid 1px black;
  color: black;
  font-size: 15px;
  margin-right: 10px;
  margin-top:20px;
}

.commande-position{
  position: absolute;
  top: -40px;
  left: -30px;
  border-radius: 3px;
}

.row-top{
  height: 250px;
  width: 1150px;
}

.row-bottom{
  height: 150px;
  width: 1150px;
}

.card-booking{
  position: absolute;
  bottom: -148px;
  width: 182px;
  height: 120px;
  border-radius: 4px;
  border: solid 1px rgb(220,220,220);
  border-bottom: solid 1px black;
  background-color: #EEEEEE;
}

.img-booking {
  position: absolute;
  top: -37px;
  left: 56px;
  height: 70px;
  width: 70px;
}

.img-position {
  height: 140px;
  width: 140px;
}

.prenom-booking {
  position: absolute;
  top: 40px;
  left: 70px;
}

.quantity-position {
  position: absolute;
  top: 70px;
  left: 30px;
}

.price-position {
  background-color: #EEEEEE;
  position: absolute;
  top: 2px;
  right: 4px;
  height: 50px;
  width: 90px;
  font-weight: 20px;
  padding-top: 10px;

}

.card-name-offer {
  background-color: #404040;
  height: 40px;
  width: 1150px;
  margin-bottom: 10px;
  border-bottom: solid 1px black;
  color: orange;
  padding-bottom: 1px;
  margin-right: 10px;
  margin-top: 0px;

}

.text-ajustment {
  font-size: 30px;
  padding-bottom: 1px;

}

.position-portion {
  color: black;
  border: solid 2px black;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 91px;
  left: 100px;
  border-radius: 50%;



}

.offer-ajustement {

  position: absolute;
  top: 3px;
  left: 13px;
  font-size: 30px;
}

.position-leftportion {
  color: black;

  position: absolute;
  border: solid 2px black;
  height: 50px;
  width: 50px;
  top: 91px;
  left: 412px;
  border-radius: 50%;


}

.leftportion-ajustement {
  position: absolute;
  top: 2px;
  left: 15px;
  font-size: 30px;
}
