#recipes-manager-header {
  background: white;
  padding: 15px;
  padding-bottom: 40px;
  text-align: center;
  position: relative;
  img {
    width: 80px;
    position: absolute;
    left: 50%;
    top: 67px;
    margin-left: -40px;
  }
  h1 {
    font-size: 16px;
  }
}

.list-recipes {

    background-color: white;
    margin: 20px;
    box-shadow: 1px 1px 3px rgb(224, 220, 220);
    border-radius: 3px;

    &:first-child {
      margin-top: 80px;
    }
    &:last-child {
      margin-bottom: 80px;

  }
  &-infos {
    padding-left: 10px;
    h3 {
      font-size: 16px;
      font-family: $base-font;
    }
    a {
      color: rgb(219, 214, 214);
      &:hover {
        color: black;
      }
    }
  }
  ul.list-inline {
    float: right;
    position: relative;
    top: 10px;
  }
}

.recipe-add-btn {
  color: white;
  background: #3AB696;
  padding: 21px 24px;
  font-size: 15px;
  border-radius: 50%;
  /* width: 75px; */
  height: 53px;
  text-align: center;
  position: relative;
  z-index: 11;
}

.go-offer{
  position: relative;
  background-color: #3AB696;
    height: 150px;
  border-radius: 3px;
  color: white;
  &-text {
    position: absolute;
    top: 30px;
    right: 26px;
    color: white;
  }
  &:hover {
    background-color: darken(#3AB696, 10%);
  }
}

.img-margin{
  height: 140px;
  margin: 5px;
  width: 200px;
}

.infos-offer {
  padding-top: 65px;
  padding-left: 40px;
}


.title-recipe{
  position: absolute;
  top: 85px;
  left: 220px;
}

.add-recipe {
  position: absolute;
  top: 41px;
  left: 79px;
}


.title-offer{
  position: absolute;
  top: 85px;
  right: 220px;
}


.bouton-offer {
height: 100px;
  width: 89px;
  position: absolute;
  top: -30px;
  right: -27px;
}

.position-delete-offer {
  position: absolute;
  left: 49px;
  top: -3px;
}

#recipes-manager-body {
  color: #929292;
  a {
    color: #dbd6d6;
    &:hover {
      color: darken(#dbd6d6, 20%);
    }
  }
  h3 {
    color: #929292;
  }
}




