<%= render 'shared/small_navbar' %>

<div class="head">

  <h1 class="text-center h1-community  ">PARTAGER </h1>
  <h2 class= "text-center h2-community ">vos recettes avec d'autres pepeatos !</h2>
</div>
<div class="container">
  <!-- algolia -->
    <div class="row">
      <div class="col-xs-12">
        <div class="search  formstyle">
          <input class="typehead form-control input-lg" type="text" placeholder="Faites une recherche par recette, temps de préparation,..." id="recipe-search" spellcheck="false">
        </div>
      </div>
    </div>
    <div class="row">
      <div id="recipes">
        <!-- alogolia js here -->
      </div>
    </div>
</div>

<% content_for :after_js do %>
  <script src="//cdn.jsdelivr.net/typeahead.js/0.10.5/typeahead.jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
  <%= javascript_tag do %>
    $(document).ready(function() {
      initAlgolia();
    })
  <% end %>
<% end %>

