
<div class="head">

  <h1 class=" text ">Partagez vos recettes avec d'autres pepeato !</h1>

</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="text-center stylesearch">Rechercher une recette</h2>
    </div>
  </div>
  <!-- algolia -->
    <div class="row">
      <div class="col-xs-12">
        <div class="search form-inline">
          <input class="typehead form-control input-lg" type="text" placeholder="Search by recipe, ..." id="recipe-search" spellcheck="false">
        </div>
      </div>
    </div>
    <div class="row">
      <div id="recipes">
        <!-- alogolia js here -->
      </div>
    </div>
</div>





<% content_for :after_js do %>
  <script src="//cdn.jsdelivr.net/typeahead.js/0.10.5/typeahead.jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
  <%= javascript_tag do %>
    $(document).ready(function() {
      initAlgolia();
    })
  <% end %>
<% end %>

