<div id="footer">
<p class="text-center">Souper Franky</p>
  <hr>
  <div class="container">
    <div class="row ">
      <div class="col-md-offset-4 col-xs-12 col-sm-1">
        <i class="fa fa-twitter coco"></i>
      </div>
      <div class="col-xs-12 col-sm-1">
        <i class="fa fa-instagram coco"></i>
      </div>
      <div class="col-xs-12 col-sm-1">
        <i class="fa fa-twitter coco"></i>
      </div>
      <div class="col-xs-12 col-sm-1">
        <i class="fa fa-google-plus coco"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="text-center marg">powered by Flo & John</p>
      </div>
    </div>
  </div>

</div>
