.card-recipe {
  background-color: white;
  margin: 13px;
  padding: 4px;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;
  &-header {
    height: 200px;
    background-size: cover;
    position: relative;
    color: white;
    border-radius: 3px 3px 0px 0px;
    &-infos {
      position: absolute;
      bottom: 48;
      left: 10px;
    }
    &-portions {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background: $red;
      padding: 2px 8px;
      border-radius: 3px;
    }
  }
  &-filter {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.3;
    background: #383838;
    border-radius: 3px 3px 0px 0px;
  }
  &-body {
    padding: 20px;
    img {
      width: 80%;
    }
    h3 {
      font-size: 16px;
      margin-top: 13px;
    }
  }
  &-pickup {
    margin-top: 30px;
    font-weight: 700;
    color: rgb(208, 208, 208);
  }
  &-control {
    font-size: 15px;
    color: transparent;
    &:hover {
      color: black !important;
      cursor: pointer;
    }
  }
  &:hover {
    .card-recipe-control {
      color: $gray-lighter;
    }
  }
}


.card-pepeatobooking {
  background-color: white;
  height: 200px;
  margin: 13px;
  padding: 4px;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  border-radius: 3px;

  &-lefter {
    height: 190px;
    background-size: cover;
    position: relative;
    color: white;
    border-radius: 3px 3px 0px 0px;

    &-infos {
        position: absolute;
        bottom: top;
        left: 10px;
    }
    &-portions {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background: $red;
      padding: 2px 8px;
      border-radius: 3px;
    }
  }
  &-header {

    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 3px 3px 0px 0px;
    box-shadow: 0px 0px 3px rgb(239, 231, 231);
    h3 {
      margin-top: 0px;
      font-size: 20px;
    }
    &-part {
    text-align: center;
    margin-top: 10px;
    }
  }
  &-body {
    &-booking{
      position: relative;
      bottom: -39px;
      margin-left: 20px;
      height: 100px;
      // border: solid 1px rgb(220,220,220);
      box-shadow: 1px 1px 6px rgb(239, 231, 231);
      // border-bottom: solid 1px black;
      background-color: white;
      &-text {
        position: absolute;

        bottom: 2px;
        left: 23px;
        h3 {
          font-size: 14px;
        }
      }
    }
  }
}




.position-picture {
  height: 50px;
  width: 50px;
  box-shadow: 1px 1px 3px rgb(239, 231, 231);
  position: absolute;
  top: -31px;
  left: 25px;
}

