.padded-top {
  padding-top: 50px;
}

.small-padded-top {
  padding-top: 15px;
}

.med-padded-top {
  padding-top: 30px;
}

.padded-bottom {
  padding-bottom: 50px;
}

.small-padded-bottom {
  padding-bottom: 15px;
}

.med-padded-bottom {
  padding-bottom: 30px;
}

.med-padded-right {
  padding-right: 30px;
}

.padded-right {
  padding-right: 50px;
}

.big-padded-right {
  padding-right: 100px;
}

.big-padded-left {
  padding-left: 100px;
}
