.card-signup {

  border-radius: 3px;
  background-color: rgba(250,250,250,0.7);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 30px;
  padding-bottom: 120px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
  width: 400px;
  border: solid 1px rgb(220,220,220);
}

.logbg {
  background: asset-url("bglog.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
